<details>
  <summary>
    <div class="task-main">
      <h3 class="task-title"></h3>
      <ul class="tags"></ul>
    </div>
    <span class="task-date"></span>
    <ul class="controls">
      <li>
        <button class="task-control-button edit-button" aria-label="Edit task">
          ✏️
        </button>
      </li>
      <li>
        <button
          class="task-control-button delete-button"
          aria-label="Delete task"
        >
          🗑️
        </button>
      </li>
      <li>
        <button
          class="task-control-button complete-button"
          aria-label="Mark task complete"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="complete-icon"
          >
            <path d="M21.801 10A10 10 0 1 1 17 3.335" />
            <path d="m9 11 3 3L22 4" />
          </svg>
        </button>
      </li>
    </ul>
  </summary>
  <p class="task-description"></p>
</details>
