@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
	font-family: 'Geologica', sans-serif;
	box-sizing: border-box;
}

:root {
	font-size: 12px;

	/* background colors */
	--bg-primary: #F0FDF4;
	--bg-secondary: #FFFFFF;
	--bg-accent: #059669;
	--bg-accent-light: #D1FAE5;

	/* border settings */
	--border-primary: #21A97C;
	--border-secondary: #D4D4D4;
	--border-radius-primary: 0.5rem;
	--border-radius-small: 0.25rem;
	--border-width: 1.5px;

	/* text colors */
	--text-primary: #059669;
	--text-secondary: #059669;
	--text-accent: #FFFFFF;
	--text-accent-light: #059669;

	/* icon colors */
	--icon-primary: #059669;

	--tag-bg-color-high: #FEE2E2;
	--tag-text-color-high: #B91C1C;

	--tag-bg-color-medium: #FEF9C3;
	--tag-text-color-medium: #A16207;

	--tag-bg-color-low: #DBEAFE;
	--tag-text-color-low: #1D4ED8;

	--tag-bg-color-regular: var(--bg-accent-light);
	--tag-text-color-regular: var(--text-primary);
}