<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>
<details>
  <summary>
    <div class="task-main">
      <h3 class="task-title">Review PR #1</h3>
      <ul class="tags">
        <li class="tag priority-high">High</li>
        <li class="tag">Issue</li>
        <li class="tag">Repo #1</li>
      </ul>
    </div>
    <span class="task-date">11/20/2024</span>

    <button class="task-control-btn edit-btn" aria-label="Edit task">
      <i class="fa-solid fa-pen"></i>
    </button>

    <button class="task-control-btn delete-btn" aria-label="Delete task">
      <i class="fa-solid fa-trash-can"></i>
    </button>

    <button
      class="task-control-btn complete-btn"
      aria-label="Mark task complete"
    >
      <i class="fa-regular fa-circle-check"></i>
    </button>

    <button class="task-control-btn collapse-btn" aria-label="Collapse task">
      <i class="fas fa-caret-down"></i>
    </button>
  </summary>
  <p class="task-description">
    Read through Chapter 8: Data Structures and Algorithms. Focus on sections
    covering Red-Black Trees and B-Trees. Prepare summary notes for discussion.
  </p>
</details>
